#main {
    width: 960px;
    margin: 0 auto;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: large;

    header {
	height: 50px;
    }

    #content {
	margin: 20px auto;
    }
}

a {
    text-decoration: none !important;
}
a:link, a:visited, a:active {
    color: gray;
}

a:hover {
    color: black;
}
