#main {
    width: 960px;
    margin: 0 auto;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: large;

    header {
	height: 50px;
    }

    #content {
	margin: 20px auto;
    }

    footer {
	text-align: center;
    }


    #flash-section {
	.flash {
            margin: 15px 0;
	    color: black;
	    font-weight: bold;
	    margin: 20px;
	}
    
	.error {
	    border: solid 4px #900;
            background-color: #FF6565;
	}
	
	.notice {
	    border: solid 4px #26722D;
            background-color: #A4E7A0;
	}
    }
}

a {
    text-decoration: none !important;
}
a:link, a:visited, a:active {
    color: gray;
}

a:hover {
    color: black;
}
