article.post {
    margin-bottom: 25px;

    .title {
	a, a:link, a:visited, a:active {
	    color: black;
	}
    }
}

section.rside {
    float: right;
    width: 150px;

    ol.filter {
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
	list-style: none;
    }
}

section#posts {
    margin-right: 200px;
}