- content_for :content do
  %section#rside
    = render 'posts/filters', years: @years, tags: @tags, selected_tags: @selected_tags

  %section#posts
    = yield

= render template: 'layouts/application'
